<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Spatial Data Systems Consulting... .</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>To Begin</h4>
                                    <h4 class="subheading">Pioneering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Spatial Data Systems Consulting was founded by Gerry Tychon in the early Internet years. The goal was to provide specialized services related to spatially-oriented information systems. This included: Geographic Information Systems (GIS), Land Information Systems (LIS), Remote Sensing and Imaging, and other systems where data possess spatial location or position. 
                                    <br>
                                    In these early years technology revolved about mainframe and mini-computers. The mainstream adoption of micro-computers was just being born.
                                    </p>


                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>And Then</h4>
                                    <h4 class="subheading">Experience</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Over the years Spatial Data Systems Consulting and associates worked on many projects to all levels of government (both in Canada and Internationally), to private industry, as well as First Nation peoples.
                                    Activities ranged from project management, systems analysis, systems architecture, and research studies to actual systems design, implementation, and education / training.  
                                    During this time technology evolved, the Internet as a force came into existence, many technology vendors bloomed and then dwindled to a handful.
                                    Experience was gained utilizing various technology platforms, related data, and solving problems in different problem domains.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Today</h4>
                                    <h4 class="subheading">Vision</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Today, more than ever, knowledge and experience is key to solving real problems effectively. It is this knowledge and experience that has led staff and associates of Spatial Data Systems Consulting to possess in-depth conceptual and technical knowledge possessed by few others. 
                                    <br><br>
                                    They believe in a holistic approach which takes into account technology, procedures, business functions, and, most importantly, people. 
                                    <br><br>
                                    Client and Vendor working together to achieve success.
                                   . 
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>