<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-primary">We are just a click away.</h3>
                </div>
                
                <div class="col-lg-12 text-center text-primary">Please contact: <br>
    <br>
    Gerry Tychon <br>
    E-mail: <script language="Javascript" type="text/javascript">
    <!-- // hide from old browsers
  
    //variables
    var user = "gerry"; 
    var domain = "tychon" + "." + "ca"; 
    var subject = "Contact GGT/SDSC"; 
    var bodytext = "Information desired?"; 
  
    //output
    document.write('<a href=\"ma' + 'il' + 't' + 'o:' + user + '@' + domain + '?subject=' + subject + '&body=' + bodytext + '\">'); 
    document.write('gerry [at] tychon [dot] ca</a>');
  
    // -->
    </script> <br>
    <br>
                        
                        
                        <IMG SRC="./img/gt_email.gif" ALT="ggt email" WIDTH=142 HEIGHT=20>
                                   </div>                
            
    </div> 
         
        </div>
    </section>