<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">What we do. And do not do.</h3>
                </div>
            </div>
            <!-- This the row of services. Three across. -->
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-list fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IM/IT</h4>
                    <p class="text-muted">
                    <ul class="text-left text-muted">
                    <li>business analysis / evaluation of current  systems(s), data, and procedures </li>
                    <li>information and project management </li>
                    <li>systems architecture </li> 
	                <li>process modelling </li> 
	                <li>data modelling, definition, and structuring </li> 
	                <li>system implementation </li>
	                <li>data exchange procedures, design, and implementation </li>
	                <li>education / training </li>
	                <li>web based map and visualization applications </li> 
                    </ul>
                    </p>
                    <p class="text-left text-muted" >Broad range of IM/IT functios but, sorry, we don't do financial systems or general purpose websites.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Spatial</h4>
                    <p class="text-muted">
                    <ul class="text-left text-muted">
                    <li>geocoding </li>
                    <li>multidimensional </li> 
	                <li>semantic </li> 
	                <li>modelling </li> 
	                <li>exchange </li>
	                <li>applications </li> 
                    </ul>
                    </p>
                    <p class="text-left text-muted">
                    Spatial &#8212; location and relationships are core to most data used.
                    </p>                    
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                         <i class="fa fa-unlock-alt fa-stack-1x fa-inverse"></i>
                        
                    </span>
                    <h4 class="service-heading">Open</h4>
                    <p class="text-muted"> 
                    <ul class="text-left text-muted">
                    <li>open data </li>
                    <li>principles </li>
                    <li>sources </li> 
	                <li>platforms </li> 
	                <li>strategy </li> 
                    </ul>  
                    </p>
                    <p class="text-left text-muted">
                    Open &#8212; open data and open systems are the new paradigm of government.
                    </p>
                </div>
            </div>
            <!-- End of first services row. -->
        </div>
    </section>